@import 'src/stylesheets/settings/variables';

.projects-details {

  &__title {
    font-weight: $fontbold;
    font-size: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: $large) {
      font-size: 25px;
    }
  }

  &__content {
    color: $grey_font;
    line-height: 20px;
    font-size: 12px;

    @media screen and (min-width: $large) {
      font-size: 14px;
    }
  }

  &__role {
    margin-bottom: 10px;
    font-size: 14px;

    @media screen and (min-width: $large) {
      font-size: 16px;
    }
  }

  &__button {
    margin-top: 20px;
  }

}
