@import 'src/stylesheets/settings/variables';

.work-footer {
    padding: 25px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    
    @media screen and (min-width: $medium) {
        padding: 50px 0;
    }
}