.button {
  appearance: none;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 0;
  text-decoration: none;

  &:hover,
  &:focus {
    &::before {
      margin-left: -35px;
      width: 27px;
    }
  }

  &:focus {
    text-decoration: underline;
  }

  &--red {
    &::before {
      background-color: $white;
    }
  }

  &--red-mark {
    &::before {}
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--card {
    font-size: 14px;
    padding: 0;

    &::before {}
  }
}
