// fonts
$fontlight : 300;
$fontregular: 400;
$fontbold : 700;
$fontblack : 800;

$fontSerif: 'Merriweather',
'serif';


// Container
$container-large : 1680px;
$container-medium : 1320px;

// Layout
$xxsmall : 375px;
$xsmall : 480px;
$small : 600px;
$medium : 768px;
$large : 1024px;
$xlarge : 1280px;
$xxlarge : 1440px;


:root {
  --medium: 768;
}

// Gutter
$gutter-small: 20px;
$gutter-large: 20px;

// Height
$header-height-small: 50px;
$header-height-large: 100px;
$menu-width : 315px;

$footer-height-small: 50px;
$footer-height-large: 100px;

// Z-index
$navigationBtn: 900;
$navigation: 800;
$header: 200;
$z-alert: 150;
$cookie: 150;
$decoration: 120;
$zbookmark: 110;
$zcontent: 100;
$reinsurance: 3;
$ucLouvreBanner2: 2;
$ucLouvreBanner1: 1;
$decoration: -1;

// Colors
// $big-stone: #112134;
// $firefly:   #0d1a29;
$white: #fff;
$black: #000;
$grey_font: #ADADAD;
