<div class="skew-gallery">
    <div class="skew-gallery__wrapper">
        <div class="skew-gallery__column"  ngx-parallax [speed]="5">
            <ng-container *ngFor="let image of gallery.columnOne"> 
                <img [src]="image.src" [alt]="image.alt">
            </ng-container>
        </div>
        <div class="skew-gallery__column skew-gallery__column--two" ngx-parallax [speed]="-10">
            <ng-container *ngFor="let image of gallery.columnTwo"> 
                <img [src]="image.src" [alt]="image.alt">
            </ng-container>
        </div>
        <div class="skew-gallery__column" ngx-parallax [speed]="-20">
            <ng-container *ngFor="let image of gallery.columnThree"> 
                <img [src]="image.src" [alt]="image.alt">
            </ng-container>
        </div>
    </div>
</div>