<div class="works">
  <div class="container-medium">
    <div class="works__wrapper">
      <div class="works__left">
        <projects-visual></projects-visual>
      </div>

      <div class="works__right">
        <projects-details></projects-details>
      </div>
    </div>
  </div>

  <div class="works__footer">
    <div class="container-medium">
      <div class="works__footer-content">
        <cta-button textToDisplay="Prev" direction="left"></cta-button>
        <cta-button textToDisplay="Next"></cta-button>
      </div>
    </div>
  </div>
</div>
