<div class="works" *ngIf="(works$ | async) as works">
  <div class="container-medium">
    <div class="works__wrapper">
      <div class="works__left">
        <div class="works__work-wrapper">
          <div *ngFor="let work of works; let i = index">
            <div [@workAnimation]="i" *ngIf="isCurrentProject(i)">
              <projects-visual [numberOfWork]=" works.length" [workIndex]="i" [index]="index" [work]="work">
              </projects-visual>
            </div>
          </div>
        </div>
      </div>

      <div class="works__right">
        <div class="works__item-wrapper">
          <div class="works__list" *ngFor="let work of works; let i = index">
            <div [@textAnimation]="i" *ngIf="isCurrentProject(i)">
              <projects-details [work]="work"></projects-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="works__footer">
    <div class="container-medium">
      <div class="works__footer-content">
        <cta-button textToDisplay="Prev" direction="left" (click)="previousProject(works.length)"></cta-button>
        <cta-button textToDisplay="Next" (click)="nextProject(works.length)"></cta-button>
      </div>
    </div>
  </div>
</div>
