@import 'src/stylesheets/settings/variables';

.works {
  $root: &;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $header-height-small;

  @media screen and (min-width: $medium) {
    margin-top: $header-height-large;
    height: calc(100vh - #{$header-height-large} - #{$footer-height-large});
  }

  &__wrapper {
    @media screen and (min-width: $medium) {
      display: flex;
    }
  }

  &__left {
    @media screen and (min-width: $medium) {
      margin-left: 20%;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;

    @media screen and (min-width: $medium) {
      margin-left: 15%;
      flex-basis: 25%;
    }
  }

  &__item-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    @media screen and (min-width: $medium) {
      height: 250px;
    }
  }

  &__work-wrapper {
    position: relative;
  }

  &__footer {
    display: flex;
    height: $footer-height-large;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    flex-basis: 100%;
  }

  &__footer-content {
    display: flex;
    justify-content: space-between;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    background-color: $black;
    transition: opacity 400ms ease-in-out;
  }

  &[data-state="isAnimated"] {
    .works__overlay {
      opacity: 0.5;
    }
  }
}
