@import 'src/stylesheets/settings/variables';

.cta-button {
  font-weight: $fontbold;
  $transition: 200ms;

  cursor: pointer;
  font-size: 14px;
  transition: all $transition ease-in-out;

  @media screen and (min-width: $large) {
    font-size: 16px;
  }

  svg {
    margin-right: 0px;
    margin-left: 10px;
    transition: all $transition ease-in-out;
  }

  &[data-direction="left"] {
    display: flex;
    flex-direction: row-reverse;

    svg {
      margin-left: 0px;
      margin-right: 10px;
      transform: rotate(-180deg);
    }
  }

  &:hover {
    // transform: scale(1.1);

    svg {
      margin-left: 15px;
    }

    &[data-direction="left"] {
      svg {
        margin-left: 0px;
        margin-right: 15px;
      }
    }
  }
}
