<header class="header container-large">
  <div class="container-medium">

    <div class="header__wrapper">
      <div class="header__logo">
        <a routerLink="/"> Benoît Carquillat </a>
      </div>

      <nav class="header__right">
        <ul class=header__nav-wrapper>
          <li class="header__nav-item"> <a [routerLinkActiveOptions]="{exact: true}" routerLink="/"
              routerLinkActive="header__active-link"> Work </a> </li>
          <li class="header__nav-item"> <a [routerLinkActiveOptions]="{exact: true}" routerLink="/about"
              routerLinkActive="header__active-link"> About me </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
