<div class="about">
  <div class="about__main">

    <div class="about__container">
      <h1 class="about__job"> Front-End developer </h1>
      <h2 class="about__big-text"> About me </h2>
      <h3 class="about__content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, nisi harum
        nesciunt quasi cum officia
        ducimus aut eveniet cumque quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis
        corrupti maiores, expedita modi, omnis facere deleniti dolores sint accusamus, laboriosam nesciunt minus
        tempore! Qui tempore nisi earum sunt provident? </h3>
    </div>
  </div>

  <about-footer></about-footer>

</div>
