<div class="about">
  <div class="about__main">

    <div class="about__container">
      <h1 class="about__job"> Front-End developer </h1>
      <h2 class="about__big-text"> About me </h2>
      <h3 class="about__content"> 
        Hi my name is Benoit, I have a passion for design, in fact I wanted to become a webdesigner... But I fell in love with my actual job : front end developer <br/>
        I'm used to work with Angular, and love making animations, and integrate beautiful interfaces to improve the user experience. <br/>
        I'm currently working for Capgemini where I work for L'oréal. 
      </h3>
    </div>
  </div>

  <about-footer></about-footer>

</div>
