@import 'src/stylesheets/settings/variables';

.projects-visual {
  position: relative;
  cursor: pointer;

  &__image {
    position: relative;
    margin-bottom: 40px;

    @media screen and (min-width: $medium) {
      margin-bottom: 0px;
      width: 25vw;
    }

    img {
      width: 100%;
      max-height: 30vh;
      opacity: 0.6;
      object-fit: cover;

      @media screen and (min-width: $small) {
        max-height: 250px;
      }

      @media screen and (min-width: $medium) {
        width: 25vw;
        max-height: 65vh;
      }
    }
  }

  &__infos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__title-wrapper {
    overflow: hidden;
    padding: 6px 0;
    position: relative;
  }

  &__title {
    font-family: $fontSerif;
    font-size: 8vw;
    word-break: initial;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
  }
}
