<div class="projects-visual" *ngIf="work">
  <div class="projects-visual__image">
    <div class="projects-visual__image-wrapper">
      <img [src]="'assets/works/' + work.image" alt="projects-visual" />
    </div>

    <div class="projects-visual__infos">
      <project-counter [numberOfWork]="numberOfWork" [index]="index"></project-counter>
      <div class="projects-visual__title-wrapper">
        <h1 class="projects-visual__title">{{ work.title }}</h1>
      </div>
    </div>
  </div>
</div>
